{% extends "base.html" %}
{% block head %}
    {{ super() }}
   <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="row white-bg-margin">
        <div class="col-md-6 col-md-offset-3">
            <div class="bg-container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <span class="big-title">Echo</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 flex-vertical personal-detail">
                        <form action="{{ url_for('web.register') }}" method="post">
                            <input style="width:100%" id="ip" name="ip"
                                   type="text"
                                   placeholder="地址"
                                   class="none-input"
                                   value="{{ form.data['ip'] | default('111.33.152.130',true) }}">
                            <input style="width:100%" id="port" name="port" type="text"
                                   placeholder="端口"
                                   class="none-input"
                                   value="{{ form.data['port'] | default('1234',true) }}">
                            <input id="userID" style="width:100%" name="userID" type="text"
                                   placeholder="用户ID"
                                   class="none-input"
                                   value="{{ form.data['userID'] | default('',true) }}">
                            <input id="alterID" style="width:100%" name="alterID" type="text"
                                   placeholder="额外ID"
                                   class="none-input"
                                   value="{{ form.data['alterID'] | default('',true) }}">
                            <input style="margin-top:15px;" id="btn-submit" type="submit"
                                   class="btn btn-big btn-block" value="登记">
                        </form>
                    </div>
                </div>
{#                <div style="margin-top:30px;" class="row">#}
{#                    <div class="col-md-8 text-center col-md-offset-2">#}
{#                        <span class="description-font">已有账号？</span><a#}
{#                            href="{{ url_for('web.login') }}">登录</a>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
